body {
	max-width: 800px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
    background-image: url(fondo7.jpg);
}
.black{
    position: absolute;
    width: 1930px;
    top: 0px;
    height: 70px;
    left: -10px;
    background-color: rgb(7, 2, 2);
    color: white;
    text-align: center;
    font-size: 50px;
    }
.text{
    position: absolute;
    left: 10px;
    font-size: 40px;
    color: #f7f7f7;
    text-align: left;
}
.text1{
    font-style: none ;
    font-size: 55px;
    position: absolute;
    left: 850px;
    top: 50px;
    color: #fcfcfc;
    text-align: center;
    padding-right: 300px;
    height: 1;
}
.btplanta{
    border-style: none;
    position: absolute;
    top: 90px;
    right: 290px;
    border-radius: 100px;
    width: 130px;
    height: 30px;
    background: linear-gradient(45deg,#00aeff, #ffffff);
    text-align: center;
    align-content: center;  
}
.btfiltrar{
    border-style: none;
    position: absolute;
    top: 90px;
    right: 120px;
    border-radius: 100px;
    width: 130px;
    height: 30px;
    background: linear-gradient(45deg,#00aeff, #ffffff);
    text-align: center;
    align-content: center;
}
.MONTERREY{
    font-size: 18px;
    border-style: line;
    position: absolute;
    top: 210px;
    left: 200px;
    width: 290px;
    height: 80px;
    background: linear-gradient(45deg,#00aeff,#ffffff) 
}
.SLMTR{
    position: absolute;
    top: 300PX;
    left: 200PX;
    height: 35PX;
    width:290PX;
    font-size: 18PX;
    border: none;
    border-radius: 90px;
    background-color: #000000;
    text-align: center;
    align-content: center;
}
.CDMX{
    font-size: 18px;
    border-style: line;
    position: absolute;
    color: #000000;
    top: 210px;
    left: 650px;
    width: 290px;
    height: 80px;
    background: linear-gradient(45deg,#00aeff,#ffffff)
}
.SLCDM{
    position: absolute;
    top: 300PX;
    left: 650PX;
    height: 35PX;
    width:290PX;
    font-size: 18PX;
    border: none;
    background-color: #000000;
    border-radius: 90px;
    text-align: center;
    align-content: center;
}
.MERIDA{
    font-size: 18px;
    border-style: line;
    position: absolute;
    top: 210px;
    left: 1100px;
    width: 290px;
    height: 80px;
    background: linear-gradient(45deg,#00aeff,#ffffff)
}
.SLMRD{
    position: absolute;
    top: 300PX;
    left: 1100PX;
    height: 35PX;
    width:290PX;
    font-size: 18PX;
    border: none;
    background-color: #000000;
    border-radius: 90px;
    text-align: center;
    align-content: center;
}
.MERIDA2{
    font-size: 18px;
    border-style: line;
    position: absolute;
    top: 210px;
    left: 1550px;
    width: 290px;
    height: 80px;
    background: linear-gradient(45deg,#00aeff,#ffffff)
}
.SLMRD2{
    position: absolute;
    top: 300PX;
    left: 1550PX;
    height: 35PX;
    width:290PX;
    font-size: 18PX;
    border: none;
    background-color: #000000;
    border-radius: 90px;
    text-align: center;
    align-content: center;
}
.MONTERREY2{
    font-size: 18px;
    border-style: line;
    position: absolute;
    top: 460px;
    left: 200px;
    width: 290px;
    height: 80px;
    background: linear-gradient(45deg,#00aeff,#ffffff) 
}
.SLMTR2{
    position: absolute;
    top: 550PX;
    left: 200PX;
    height: 35PX;
    width:290PX;
    font-size: 18PX;
    border: none;
    background-color: #000000;
    border-radius: 90px;
    text-align: center;
    align-content: center;
}
.CDMX2{
    font-size: 18px;
    border-style: line;
    position: absolute;
    top: 460px;
    left: 650px;
    width: 290px;
    height: 80px;
    background: linear-gradient(45deg,#00aeff,#ffffff) 
}
.SLCDM2{
    position: absolute;
    top: 550PX;
    left: 650PX;
    height: 35PX;
    width:290PX;
    font-size: 18PX;
    border: none;
    background-color: #000000;
    border-radius: 90px;
    text-align: center;
    align-content: center;
}
.PUEBLA{
    font-size: 18px;
    border-style: line;
    position: absolute;
    top: 460px;
    left: 1100px;
    width: 290px;
    height: 80px;
    background: linear-gradient(45deg,#00aeff,#ffffff) 
}
.SLPB{
    position: absolute;
    top: 550PX;
    left: 1100PX;
    height: 35PX;
    width:290PX;
    font-size: 18PX;
    border: none;
    background-color: #000000;
    border-radius: 90px;
    text-align: center;
    align-content: center;
}
.TIJUANA{
    font-size: 18px;
    border-style: line;
    position: absolute;
    top: 460px;
    left: 1550px;
    width: 290px;
    height: 80px;
    background: linear-gradient(45deg,#00aeff,#ffffff)   
}
.SLTJ{
    position: absolute;
    top: 550PX;
    left: 1550PX;
    height: 35PX;
    width:290PX;
    font-size: 18PX;
    border: none;
    background-color: #000000;
    border-radius: 90px; text-align: center;
    align-content: center;
}
.OAXACA{
    font-size: 18px;
    border-style: line;
    position: absolute;
    top: 710px;
    left: 650px;
    width: 290px;
    height: 80px;
    background: linear-gradient(45deg,#00aeff,#ffffff) 
}
.SLOX{
    position: absolute;
    top: 800PX;
    left: 650px;
    height: 35PX;
    width:290PX;
    font-size: 18PX;
    border: none;
    background-color: #000000;
    border-radius: 90px;
    text-align: center;
    align-content: center;
}
.PUEBLA2{
    font-size: 18px;
    border-style: line;
    position: absolute;
    top: 710px;
    left: 1100px;
    width: 290px;
    height: 80px;
    background: linear-gradient(45deg,#00aeff,#ffffff) 
}
.SLPB2{
    position: absolute;
    top: 800PX;
    left: 1100px;
    height: 35PX;
    width:290PX;
    font-size: 18PX;
    border: none;
    background-color: #000000;
    border-radius: 90px;
    text-align: center;
    align-content: center;
}
header {
	background-color: #000000;
	color: #ffffff;
	padding: 2px;
	text-align: left;
}
main {
	padding: 20px;
}
.tank{
    position: absolute;
    bottom: 4px;
    right: 60px;
    height: 350px;

}
.imgato{
    position: absolute;
    left: 340px;
    top: -20px;
}




/*Media para celulares y telefonos da igual*/
@media (max-width: 832px){
    body {
        max-width: 100vw;
        width: 100vw;
        overflow-x: hidden;
        font-family: Arial, sans-serif;
        background-image: url(fondo7.jpg);
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        position: relative;
    }

    * {
        max-width: 100%;
        box-sizing: border-box;
    }

    .black{
    position: absolute;
    width: 1930px;
    top: 0px;
    height: 110px;
    left: -10px;
    background-color: rgb(7, 2, 2);
    color: white;
    text-align: center;
    font-size: 50px;
    }

    .text{
        position: absolute;
        left: 10px;
        font-size: 25px;
        color: #030303;
        text-align: left;
    }
    .text1{
        font-style: none ;
        font-size: 50px;
        position: absolute;
        left: 70px;
        top: 25px;
        color: #000000;
        text-align: center;
        padding-right: 300px;
        height: 1;
    }
    .btplanta{
        font-size: 20px; 
        border-style: none;
        position: absolute;
        top: 140px;
        left: 30px;
        border-radius: 100px;
        width: 150px;
        height: 30px;
        background: linear-gradient(45deg,#00aeff, #ffffff);
        text-align: center;
        align-content: center;
    }
    .btfiltrar{
        font-size: 20px; 
        border-style: none;
        position: absolute;
        top: 140px;
        left: 195px;
        border-radius: 100px;
        width: 150px;
        height: 30px;
        background: linear-gradient(45deg,#00aeff, #ffffff);
        text-align: center;
        align-content: center;
    }
    .MONTERREY {
    font-size: 20px; 
    border-style: solid; 
    position: absolute;
    top: 220px;
    left: 24px;
    width: 160px;
    height: 70px;
    background: linear-gradient(45deg,#00aeff,#ffffff);
    }
    .SLMTR{
        position: absolute;
        top:300PX;
        left: 24PX;
        height: 25PX;
        width: 160PX;
        font-size: 20PX;
        border: none;
        border-radius: 90px;
        background-color: #000000;
        text-align: center;
        align-content: center;
    }
    .CDMX{
        font-size: 20px;
        border-style: line;
        position: absolute;
        color: #000000;
        top: 220px;
        left: 196px;
        width: 160px;
        height: 70px;
        background: linear-gradient(45deg,#00aeff,#ffffff)
    }
    .SLCDM{
        position: absolute;
        top:300PX;
        left: 196PX;
        height: 25PX;
        width: 160PX;
        font-size: 20PX;
        border: none;
        background-color: #000000;
        border-radius: 90px;
        text-align: center;
        align-content: center;
    }
    .MERIDA{
        font-size: 20px;
        border-style: line;
        position: absolute;
        top: 330px;
        left: 24px;
        width: 160px;
        height: 70px;
        background: linear-gradient(45deg,#00aeff,#ffffff)
    }
    .SLMRD{
        position: absolute;
        top: 410PX;
        left: 24PX;
        height: 25PX;
        width: 160PX;
        font-size: 20PX;
        border: none;
        background-color: #000000;
        border-radius: 90px;
        text-align: center;
        align-content: center;
    }
    .MERIDA2{
        font-size: 20px;
        border-style: line;
        position: absolute;
        top: 330px;
        left: 196px;
        width: 160px;
        height: 70px;
        background: linear-gradient(45deg,#00aeff,#ffffff)
    }
    .SLMRD2{
        position: absolute;
        top: 410PX;
        left: 196PX;
        height: 25PX;
        width: 160PX;
        font-size: 20PX;
        border: none;
        background-color: #000000;
        border-radius: 90px;
        text-align: center;
        align-content: center;
    }
    .MONTERREY2{
        font-size: 20px;
        border-style: line;
        position: absolute;
        top: 440x;
        left: 24px;
        width: 160px;
        height: 70px;
        background: linear-gradient(45deg,#00aeff,#ffffff) 
    }
    .SLMTR2{
        position: absolute;
        top: 540PX;
        left: 24PX;
        height: 25PX;
        width: 160PX;
        font-size: 20PX;
        border: none;
        background-color: #000000;
        border-radius: 90px;
        text-align: center;
        align-content: center;
    }
    .CDMX2{
        font-size: 20px;
        border-style: line;
        position: absolute;
        top: 460px;
        left: 196px;
        width: 160px;
        height: 70px;
        background: linear-gradient(45deg,#00aeff,#ffffff) 
    }
    .SLCDM2{
        position: absolute;
        top: 540PX;
        left: 196PX;
        height: 25PX;
        width: 160PX;
        font-size: 20PX;
        border: none;
        background-color: #000000;
        border-radius: 90px;
        text-align: center;
        align-content: center;
    }
    .PUEBLA{
        font-size: 20px;
        border-style: line;
        position: absolute;
        top: 575px;
        left: 24px;
        width: 160px;
        height: 70px;
        background: linear-gradient(45deg,#00aeff,#ffffff) 
    }
    .SLPB{
        position: absolute;
        top: 655PX;
        left: 24PX;
        height: 25PX;
        width: 160PX;
        font-size: 20PX;
        border: none;
        background-color: #000000;
        border-radius: 90px;
        text-align: center;
        align-content: center;
    }
    .TIJUANA{
        font-size: 20px;
        border-style: line;
        position: absolute;
        top: 575px;
        left: 196px;
        width: 160px;
        height: 70px;
        background: linear-gradient(45deg,#00aeff,#ffffff)   
    }
    .SLTJ{
        position: absolute;
        top: 655PX;
        left: 196PX;
        height: 25PX;
        width: 160PX;
        font-size: 20PX;
        border: none;
        background-color: #000000;
        border-radius: 90px; text-align: center;
        align-content: center;
    }
    .OAXACA{
        font-size: 20px;
        border-style: line;
        position: absolute;
        top: 690px;
        left: 24px;
        width: 160px;
        height: 70px;
        background: linear-gradient(45deg,#00aeff,#ffffff) 
    }
    .SLOX{
        position: absolute;
        top: 770PX;
        left: 24PX;
        height: 25PX;
        width: 160PX;
        font-size: 20PX;
        border: none;
        background-color: #000000;
        border-radius: 90px;
        text-align: center;
        align-content: center;
    }
    .PUEBLA2{
        font-size: 20px;
        border-style: line;
        position: absolute;
        top: 690px;
        left: 196px;
        width: 160px;
        height: 70px;
        background: linear-gradient(45deg,#00aeff,#ffffff) 
    }
    .SLPB2{
        position: absolute;
        top: 770PX;
        left: 196PX;
        height: 25PX;
        width: 160PX;
        font-size: 20PX;
        border: none;
        background-color: #000000;
        border-radius: 90px;
        text-align: center;
        align-content: center;
    }
    header {
        background-color: #000000;
        color: #ffffff;
        padding: 2px;
        text-align: left;
    }
    main {
        padding: 20px;
    }
    .tank{
        position: absolute;
        bottom: 4px;
        right: 70px;
        height: 350px;
    
    }
    .imgato{
        position: absolute;
        left: 350px;
        top: -20px;
    } 
}
